$mainColor :rgb(245, 32, 32)
$secondaryColor  rgb(19, 13,13)
$keyColor  rgb(144,238,144)

h1 {
    color: $mainColor
}

h2{
    color: $secondaryColo
}

h3{
    color: $mainColor
}

h4{
    color: $keyColor
}